{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Kullanıcı Sayfası{% endblock %}

{% block body %}
    {% include "user/usermenu.html.twig" %}
    <div class="px-xl-7">
        {{ include('messages.html.twig') }}
        Siparişlerim

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Created_at</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td>{{ order.surname }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ order.price }}</td>
                    <td>
                        <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    </div>
{% endblock %}
